@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #fff;
}
/* app */
.App {
  /*padding: 50px 10vw 0 10vw;*/
  max-width: 1170px;
  margin: 0px auto;
}
/* General styles */
h1{
  text-transform: uppercase;
  font-weight:lighter;
  font-size: 1.9em;
  line-height: 2.5em;
  margin: 0;
  padding: 0;
}
h1 a{
  text-decoration: none;
  color: #000000;
  padding: 0;
  margin: 0;
  display: block;
}

h1 a img {
  width: 100%;
}

h1 span {
  font-weight: bold;
  align-items: center;
}

.App h3 {
  padding: 5px 0 0 10px;
}
/* Nav Bar  */
.NavBar {
  display: block;
  justify-content: space-between;
  height: 78px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 30px 0 30px 0;

  border: 0;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  height: 100%;
  margin: 0;
  top: 0;
  background: #000000;
  padding: 0 1vw;
  z-index: 3;
  max-width: 4vw;
}
.NavBar ul {
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 50%;
  display: block;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
}

.NavBar li a {
  display: block;
  color: #fff;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 3vw;
}

.NavBar li a:hover {
  border: none;
}
.NavBar li a.active {
  border: none;
}


.NavBar .navicon {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 cursor: pointer;
 width: 50%;
}

.NavBar .navicon img{
  width: 100%;
 }

.NavBar .nav_button {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%,0);
  width: 25%;
 }

 .NavBar .nav_button img{
  width: 100%;
 }


/* Top Bar  */
.TopBar {
  display: block;
  justify-content: space-between;
  height: 78px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 30px 0 30px 0;

  margin: 0;
  border: 0;
  margin-left: 6vw;
  position: fixed;
  z-index: 2;
  width: 94vw;
  text-align: right;
}

.TopBar .instagram {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-right: .5vw;
  margin-top: .2vw;
  width: 3vw;
}

.TopBar .instagram img {
  width: 100%;
}


#cart-widget {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-right: 5vw;
  margin-top: .2vw;
  width: 3vw;
}

#cart-widget img {
  width: 100%;
}

#cart-widget span.full {
  display: block;
  position: absolute;
  color:#ffffff;
  left: 10px;
  top: 20px;
  background-color: rgb(235, 98, 98);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  line-height: 15px;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato';
}
#cart-widget span.empty {
  display: none;
}



.breadcrumbs a {
  margin: 10px 0 10px 0;
  display: block;
  color: black;
  text-decoration: none;
  text-transform: uppercase;

}


.Fullpage {
  
}




/* Slider */

.home-slider {
  margin: 40px 0 0 0;
}
.home-slider img {
  width: 100%;
}




/* Home Banner*/

.home_banner {
  background: #000000;
  height: 100vh;
  margin-left: 6vw;
}

.home_banner .home_banner_w {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30%;
}

.home_banner .logo {
  text-align: center;
  padding: 0;
  
}

.home_banner .logo img {
  width: 100%;
}

.home_banner .downpage {
  width: 2.5vw;
  display: block;
  margin: 5vw auto 0;
}

.home_banner .downpage img {
  width: 100%;
}

.home_unite {
  width: 94vw;
  margin-left: 6vw;
  vertical-align: top;
}

.home_unite img {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}


/* list container */

.listContainer {
  margin-left: 6vw;
}




/* Item Count */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#itemCount {
  width: 22vw;
  text-align: center;
  float: left;
  margin: 10px 10px 10px 0;
}
#itemCount img {
  max-width: 100%;
  max-height: 100%;
}
#itemCount .item {
  display: block;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(236, 236, 236);
}

#itemCount .addToCart {
  width: 18vw;
  margin: 10px 0 0 0;
  padding: 5px 0 5px 0;
}
#itemCount input {
  width: 5vw;
}
#itemCount p {
  font-size: 0.8em;
}

/* item lits */
#productList {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 font-family: 'Lato', sans-serif;
 width: 60%;
 margin: 0 auto;
}
#productList .product {
  width: calc(100% * (1/4) - 10px - 1px);
  margin-bottom: 30px;
  position: relative;

}

#productList .product a {
  border: .6vw solid #000;
  display: block;
}


#productList .product a:hover {
  border: .6vw solid #deff00;
  display: block;
}

#productList img {
  width:100%;
  padding: 0;
  margin: 0;
  display: inline;
  vertical-align: top;
}
#productList .product p, #productList .product h3 {
  text-align: center;

  text-transform: uppercase;
  font-size: 0.6em;
}
#productList .product p.price {
  font-family: 'Playfair Display', serif;
  color: #959595;
}
#productList .product:hover > .ring-overlay{
  opacity: 0.9;
  transition: all .4s ease-in-out;
}


#productList .product .addToCart {
  text-align: center;
}

#productList .product .addToCart button {
  background: #000;
  color: #deff00;
  border: 0;
  text-align: center;
  display: inline-block;
  font-size: .5em;
  text-transform: uppercase;
}


.ring-overlay{
  background-color: #ffffff;
  opacity: 0;
  transition: all .2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ring-overlay .link{
 width: 4em;
 margin: 0px auto;
}
.ring-overlay .description{
  min-height: 5vw;
 }




/* detalle de producto */
.producto {
  display: flex;
}
.producto img {
  width: 50vw;

}
.producto .opciones-compra {
  width: 40vw;
  font-family: 'Lato', sans-serif;
  margin: 0 0 0 10px;
  padding: 0 0 0 20px;

}
.producto .opciones-compra h3 {
  padding: 0 ;
  font-size: 1.6em;
  text-transform: uppercase;
}

.producto .opciones-compra p {
  color: rgb(22, 22, 22);
}
.producto .opciones-compra .price {
  color: #ccc;
  font-size: 1.2em;
}
.producto .opciones-compra .button {
  background-color: #000000;
  color: #ffffff;
  font-size: 1em;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  padding: 10px;
  border: none;
}
.button:hover{
  cursor: pointer;
}
.producto .opciones-compra .nostock {
  font-weight: bold;
}
.item-categories {
  margin: 20px 0 20px 0;
  text-align: center;
}
.item-categories a {
  background-color: rgb(85, 85, 85);
  margin: 0 0 0 10px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
}

.itemSumbit {
  clear: both;
  display: block;
  width: 22vw;
  text-align: center;
}

/* Slider */
.each-fade {
  display: flex;
  width: 100%;
}

.each-fade div {
  width: 100%;
}

.each-fade > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ListContainer */

.listContainer h3, .listContainer p.subtitle {
  text-align: center;
}

/* CartItem */

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding:30px 0 30px 0;
}
.cart-item h3 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  width: 12vw;
  font-weight: lighter;
}
.cart-item img {
  width: 4vw;
}

.cart-item .input-number {
  width:35px;
  height: 35px;
  text-align: center;
}
.cart-item button {
  width:35px;
  height: 41px;
}
.cart-container {
  border-top: 1px solid #e6e6e6;
  margin-top: 30px;
}
 .cart-total {
  float: right;
  height: 150px;
}
.cart-total a {
  display: block;
  background-color: #000000;
  color: #ffffff;
  font-size: 1em;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  text-decoration: none;
}
.cart-total .button {
  display: block;
  background-color: #000000;
  color: #ffffff;
  font-size: 1em;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  padding: 10px;
  border: none;
}

/* Footer */
#footer {
  margin: 50px 0 0 6vw;
}

#footer .services {
  display: flex;
  width: 100%;
  margin: 0 0 50px 0;
}
#footer .services div {
  border: 1px solid grey;
  width: 100%;
  padding: 20px;
  text-align: center;
}
#footer .services h3 {
  text-transform: uppercase;
}

#footer .bottom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .bottom-navbar h2 {
  width: 40%;
  text-transform: uppercase;
  font-weight:lighter;
  font-size: 1.9em;
  line-height: 2.2em;
  margin: 0;
  padding: 0;
}

#footer .bottom-navbar h2 span {
  font-weight: bold;
  align-items: center;
}

#footer .bottom-navbar ul {
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

#footer .bottom-navbar ul li a {
  display: block;
  color: rgb(155, 155, 155);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Chckout */


.checkout label {
  width: 200px;
  display: block;
}

.button {
  padding: 5px;
  margin-top: 15px;
}

/* order */

.order {
  border: 1px solid rgb(131, 153, 194);
  padding: 20px;
  max-width: 600px;
  margin: 0px auto 50px;
  box-shadow: 3px 3px rgb(151, 190, 190);
}
.order h3 {
 padding: 0;
 text-decoration: underline;
}
.inputError {
  border: 1px solid red;
}

