/* General styles */
h1 {
  padding: 0 0 0 14px;
}

/* app */
.App {
  padding: 10px;
}
.App h3 {
  padding: 5px 0 0 10px;
}
/* Nav Bar */
.NavBar {
  position: relative;
}
.NavBar img {
  width: 45px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.NavBar h2 {
  padding: 5px 0 0 50px;
}

.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.NavBar li {
  float: left;
}
.NavBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.NavBar li a:hover {
  background-color: #111;
}

/* Item Count */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#itemCount {
  width: 22vw;
  padding: 10px;
  text-align: center;
}
#itemCount img {
  max-width: 100%;
  max-height: 100%;
}
#itemCount .item {
  display: block;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(236, 236, 236);
}

#itemCount .addToCart {
  width: 18vw;
  margin: 10px 0 0 0;
  padding: 5px 0 5px 0;
}
#itemCount input {
  width: 5vw;
}
#itemCount p {
  font-size: 0.8em;
}

/* item lits */

#productList .product {
  width: 22vw;
  float: left;
  margin: 0 0 20px 20px;
  background-color: rgb(236, 236, 236);
}
#productList img {
  width: 22vw;
}
#productList .product p, #productList .product h3 {
  text-align: center;
}
